<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dev" class="com.harsh.Dev">
<!--         <property name="age" value="12"></property>-->
<!--        <constructor-arg index="0" value="14"/> &lt;!&ndash;   constructor injection on the works &ndash;&gt;-->
<!--        <constructor-arg index="1" value="400"/>-->

        <property name="laptop" ref="lap1" />
    </bean>

    <bean id="lap1" class = "com.harsh.Laptop"/>
</beans>